html {
  font-size: 10px;
}

body {
  background-color: $white;
  color: $black;
  min-height: 100vh;
}

.header {
  @include sans;
  background-color: $black;
  color: $white;
  left: 0;
  padding: 1em;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 2;

  h1 {
    font-size: 3em;
  }
}
