*.log
node_modules/
.htaccess
sitemap.xml
sitemap.xml.gz
/public/api/wp-content/advanced-cache.php
/public/api/wp-content/backup-db/
/public/api/wp-content/backups/
/public/api/wp-content/blogs.dir/
/public/api/wp-content/cache/
/public/api/wp-content/upgrade/
/public/api/wp-content/uploads/
/public/api/wp-content/wp-cache-config.php
