*.log
node_modules/
.htaccess
sitemap.xml
sitemap.xml.gz
api/**/wp-config.php
api/**/wp-content/advanced-cache.php
api/**/wp-content/backup-db/
api/**/wp-content/backups/
api/**/wp-content/blogs.dir/
api/**/wp-content/cache/
api/**/wp-content/upgrade/
api/**/wp-content/uploads/
api/**/wp-content/wp-cache-config.php
