isms {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ism-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.ism-actions {
  // background-color: $white;
  bottom: 0;
  left: 0;
  padding: 2em;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 2;
}

.ism {
  @include sans;
  font-size: 6rem;
  padding: 0 5%;
  position: absolute;
  text-align: center;
  width: 90%;

  @media (min-width: 1400px) {
    font-size: 12rem;
  }
}

.bro-me {
  @include sans;
  background-color: $blue;
  border-radius: 4px;
  border: 0;
  border: 5px solid $white;
  color: $white;
  cursor: pointer;
  font-size: 3rem;
  padding: .25em 1em;

  &:focus {
    outline: 0;
  }

  &:active {
    background-color: $brown;
    border-color: $blue;
    color: $blue;
  }
}
